@use './variables';


.navbar-light .navbar-brand {
    color: variables.$headerColor;
    font-size: 20px;
    font-family: variables.$fontHeader;
    font-weight: bold;
    font-style: italic;
    padding-right: 20px;

}

.navbar {
    max-width: 1140px;
    margin: auto;
    height: 70px;
}

.btn {
    background-color: variables.$headerColor;
    border: solid variables.$headerColor;
    border-radius: 0;
}

.navbar-collapse {
    justify-content: space-between;
}

.current .nav-link {
    background-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: variables.$fontDark;
    padding: 0 15px;
    font-family: variables.$fontText;
}

.wrapper-background {
    background-color: #f8f8f8;
}

.navbar .current {
    background-color: variables.$whiteColor;
}






@media (max-width: 992px) {

    .navbar-collapse a {
        margin: 10px 0;
        font-size: 25px;
    }

    .navbar {
        height: auto;
    }
    
    .navbar-collapse {
        max-width: 90%;
        margin: auto;
        padding-top: 20px;
    }


    




}

